@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

* {
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.pageContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.Title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Petit Formal Script', cursive;
  font-size: 80px;
}

.Prompt{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Slab', serif;
  font-size: 80px
}

.BoxTypeIn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  font-size: 80px;
}

#img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
}

input, button{
  height: 200px;
  font-size: 2.5vw;
}
